@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Arial', serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #EB008B; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 600; }
  nav ul li {
    margin-right: 20px; }

.container {
  width: 1140px; }

.header_top {
  background: #000; }
  .header_top .top {
    padding: .6em;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: .9em;
    line-height: 1em; }

.phones {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 30px; }

.phones::after {
  content: "Замовити дзвінок";
  position: relative;
  top: 0px;
  width: 30px;
  height: 20px;
  color: #fff;
  background-color: #EB008B;
  font-size: 1em;
  padding: 5px; }

.slider {
  background-color: #e6e6e6;
  height: 300px; }

.about_us_description {
  width: 100%;
  padding: 20px;
  height: 100px;
  background-color: #e6e6e6; }

.promotions__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.promotions__card {
  width: 30%;
  height: 450px;
  text-align: center;
  padding: 10px; }

.advantages__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.advantages__card {
  text-align: center; }

.footer-box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px 0;
  color: #fff;
  background: #232020; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.footer-box-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  color: #fff; }

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.copyright {
  background: #000;
  color: #fff;
  text-align: center; }
